<div class="card mt-3">
    <div class="card-header">Redaguoti vartotoją</div>
    <div class="card-body">
        <form (ngSubmit)="userSubmit(f)" #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label">Vardas</label>
                <input type="text" class="form-control" name="name" value="" ngModel [(ngModel)]="name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">El. pašto adresas</label>
                <input type="text" class="form-control" name="email" value="" ngModel [(ngModel)]="email">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Slaptažodis</label>
                <input type="password" class="form-control" name="password" value="" ngModel [(ngModel)]="password">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Tipas</label>
                <select class="form-control" name="type" ngModel [(ngModel)]="type">
                    <option value="0">Super administratorius</option>
                    <option value="1">Administratorius</option>
                    <option value="2">Vartotojas</option>
                </select>

            </div>
            <button class="btn btn-success" type="submit">Atnaujinti</button>
        </form>

    </div>
</div>